section{
    width: 100%;
    height: 200px;
}

.secao1{
    background-color: violet;
}
.secao2{
    background-image: url('./src/img1.jpg');
    background-position: center;
    height: 500px;
}

.secao3{
    background-image: url('./src/img2.jpg');
    background-position: center;
    background-attachment: fixed;
}

.secao4{
    background-image: url('./src/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(5px);
}