@import '../../Assets/CSS/global.css';


.modalGenero {
    width: 900px;
    height: 449px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 29.99vh;
    bottom: vh;
}


.alinhamentoModalGenero {
    display: flex;
    justify-content: center;
    background-color: white;
}

.btnAlinhamentoModalGenero {
    width: 900px;
    height: 40px;
    background: #9BD2DE;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 20px 20px;



}

.btnModalGenero {
    background: transparent;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-size: 40px;
    width: 26px;
    height: 47px;
    line-height: 47px;
    cursor: pointer;
}

.btnModalGenero:hover {
    color: #000000
}


.cardtxtGenero{
    margin-bottom: 4.19vw;
}
.cardtxtGenero h1 {
    font-size: 40px;
    line-height: 47px;
    border-radius: 10px;
    color: #000;
    
    width: 450px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}

.txtsPaiGenero {
    display: flex;
    flex-wrap: wrap;
}


.ModalGeneroFooter {
    width: 900px;
    height: 40px;
    background: #F6511D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px 20px 20px;
    margin-top: 3.38vw;
}

.corDoModalGenero {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0vh;
    background-color: black;
    opacity: 0.85;
}

.AlinhamentoInputModal {

    display: flex;
    margin-top: 42px;
    
}

.inputGeneroModal {
    
    height: 49px;
    font-size: 20px;
    padding: 5px 0px 0px 24px;
}

.AlinhamentoSalvarModal{
    margin-left: 20px;
}

.btnGeneroModalSalvar{
    width: 120px;
    height: 58px;
    background-color: #F6511D;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

.btnGeneroModalSalvar:hover{
    color: #000000;
    background-color: #9BD2DE;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

