@import url('https://fonts.googleapis.com/css2?family=Content&family=Courier+Prime&family=Kranky&family=Padauk&family=Plaster&family=Rokkitt:wght@100&family=Rosarivo&family=Rouge+Script&family=Saira:wght@100&display=swap');

body{
    width: 1200px;
}
h1{
    font-family: 'Rouge Script', cursive;
    font-size:  96px;
    color:  #A38314;
    margin-left: 23.0rem;
}

.img5{
    height: 30.0rem;
    width: 70.3rem;
    margin-left: 5.3rem;
}

hr{
    margin-left: 5.8rem;
}

.h2_1{
    font-family: 'Kranky', cursive;
    font-size: 36px;
    color: #F00A0A;
    text-align: center;
}
.p_1{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #F00A0A;
    margin-left: 5.3rem;

}


.h2_2{
    font-family: 'Kranky', cursive;
    font-size: 36px;
    color: #1B137B;
    margin-left: 58.0rem;
}
.p_2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #1B137B;
    margin-left: 5.3rem;
}

.h2_3{
    font-family: 'Kranky', cursive;
    font-size: 36px;
    color: #0B6B2C;
    margin-left: 5.3rem;
}
.p_3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #0B6B2C;
    margin-left: 5.3rem;
}
  
  
.h2_4{
    font-family: 'Kranky', cursive;
    font-size: 36px;
    color: #000000;
    margin-left: 5.3rem;
}
.p_4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-left: 5.3rem;
}


