header nav,
header nav ul,
#produtos{
    flex-wrap: wrap;
}

/* com isso quebramos a linha para q quando fazer o modelo mobile fique visivel os produtos  */

/* Celular */
@media(max-width: 600px){

    header nav,
    header nav ul{
       flex-direction: column;
    }
    /* com isso usando o flex eu fiz q ficasse em coluna o layout de Mobile */

    #topo{
        margin-top: 350px;
    }
    /* como essa margin eu ajustei o top */

    #produtos{
        flex-direction: column;
        text-align: center;
    }
    /* deixei em coluna os produtos e coloquei eles no centro para n fica nos cantos */
}

.full{
    padding: 0%;
}

/* tirei os espaçemento do formulario */

.form_lead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* display para fica do lado e o flex eu quebrei isso em coluna e por fim coloquei eles no centro */


/* mexendo no inputs do formulario  */


.form_lead input,
.form_lead button{
    width: fit-content;
    margin: 20px 10px;
}
/* width para pega todo o conteudo e o margin de 20px para cima e para baixo e 10px para direita e esquerda */
/* Tablets */
@media(max-width: 1200px){
    
}