*{
    margin: 0;
    padding: 0;
}

/*  para zerar os padding e margins */

:root{
    --azul: #30358C;
    --preto: #010101;
}

/* criar variaveis */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* mexendo no corpo da pag */

/* Com isso fizemos a base  */


/* começando o Cabeçalho agora */
header{
    width: 100%;
    background-color: var(--azul);
    position: fixed;
    top: 0%;
    z-index: 1;
}
    /* z-index para colocar uma ordem de prioridade de qual vai fica por cima do outro */
 /* para deixar fixo o cabeçalho */

nav, 
section{
    max-width: 1200px;
    margin: 0px auto;

}

/* para centralizar o header */

nav{
    display: flex;
    justify-content:space-between;
}

/* para deixar na ponta e fica do lado  */

nav ul{
    display: flex;
}

/* para fica do lado  */

nav ul li{
    list-style: none;
    padding: 20px 40px;
}

/*  para tirar a bolinha e da um espaçamento com o padding */


nav ul li a{
    color: white;
    text-decoration: none;
}

/* tirando a decorção do link e trocando a cor  */

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* para deixa no centro , fica do lado , tirar o sublinhado e deixa no centro */

.logo img{
    width: 200px;
}
/* comprimento do logo  */

/* cabeçalho feito */

/* o meu conteudo principal como o cabeçalho esta fixado então é importante  da uma margem ali  */

main{
    margin-top: 80px;
}

/* margem top feita */

h3{
    font-size: 3rem;
    text-align: center;
    margin: 20px
}

/* aumentei o tamanho , deixei no centro e dei uma margem para todos os lados(lando o "rem" é o tamanho da pag q é 16rem. */

#produtos{
    display: flex;
    width: 100%;
    min-height: 70vh;
    flex-wrap: wrap;
}
/* display flex para deixa um do lado do outro, width por tamanho, min-h para o tamanho minimo e o flex wrap para quebra e com isso criar um sistema de responsividade  */


.card{
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    height: 200px;
    
    
}
/* coloquei possição relativa, add  bordas e depois deixa ela mais redonda, coloquei padding , add margin para todos os lado e por fim coloquei height de 200px */

.favoritos{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}
/* configurando a img de favoritos: com isso deixei position : absolute para q fique do lado da foto, deixei o comprimento 20px e o tamanho tbm, coloquei 20px por top e 20px pra direita */


.produto{

    width: 120px;
    height: 100px;

}
/* deixa o comprimento 100px e o tamanho 50px */



/* mexendo no conteúdo de novas novidades */


.full{
    background-color: var(--azul);
    padding: 80px;
    
}
/* com isso coloquei a cor azul e com padding depois ela maior  */

.full h3{
    color: white;
}

/* usando metodo DOM para mudar dentro do .full sem interferi nos outros */


#novidades{
    display: flex;
    justify-content: center;
}
/* com isso  para fica no lado usei o flex e depois o justify deixei no centro */

.form_lead input{
    width: 400px;
    padding: 20px;
    border: 1px solid var(--preto);
    border-radius: 5px;
}
/* mexendo no botão de input, com isso deixei o comprimento de 400px, um espamento interno de 20px, fiz uma borda de 1px na cor preta , graças ao root e por final deixei ela redonda em 5px */

.form_lead button{
    background-color: var(--preto);
    border: solid 1px var(--preto);
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
}
/* deixa o background preto e fiz uma borda solida preta, depois troquei a cor para branco do "cadastrar", fiz um espaçamento interno de 20 px por lados e de 30px para cima e para baixo, aredondei a borda e por final coloquei um curso pointer para quando clicar fica com a mãozinha */

/* feito a parte do main */


/* iniciando o footer  */


footer{
    position: relative;
    margin-top: 40px;
    background-color: var(--preto);
    color: white;
    text-align: center;
    padding: 20px;

}

/* colocando possição relativa pq seu filho é vai ter q fica do lado direito, fiz uma margin top de 40px, background preto e color white para q seja visivel para ver, deixei alinhado no centro e dei um espaçamento interno de 20px para  todos os lados */

.topo{
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 30px;
}

/* deixei o comprimento de 40px , coloquei o botão fixado e com isso coloquei 40px para direita e o botão coloquei 30px */



